#!/bin/sh

# xprofile runs automatically when lightdm starts.

# Default programs:
export EDITOR="nvim"
export TERMINAL="st"
export BROWSER="google-chrome"

# Adds `~/.local/bin` to $PATH
export PATH="$PATH:$(du "$HOME/.local/bin/" | cut -f2 | tr '\n' ':' | sed 's/:*$//')"

export PATH=/opt/aclocal-1.14/bin:$PATH
export SUDO_ASKPASS="$HOME/.local/bin/dmenupass"


~/.local/bin/setbg &	# set the background with the `setbg` script
dunst &			# dunst for notifications
dwmblocks &		# Status bar
compton &		# Compton display compositor for transparency and to avoid sceen tearing

xfce4-power-manager &   # XFCE4 Power Manager

teams &			# Microsoft Teams Preview
thunderbird &		# Thunderbird Email Client
